@media screen and (max-width: 992px) {
    .Home h1 {
    font-family: Montserrat;
    color:  #ffffff;
    font-size: 3.688em;
    font-weight: 700;
    text-align: center;
    padding-top: 20px;
    }
    .Home h2 {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    font-weight: 700;
    line-height: 1.875;
    }
}
@media screen and (max-width: 950px) {
    .background {
        height: 100%;
    }
    .Header {
        justify-content: space-between;
    }
    .header-logo {
        margin-left: 40px;
    }
    .header-menu-container {
        display: flex;
        flex-direction: column;
        height: 100%;
        max-width: 400px;
    }
    .header-menu-container a {
        display: none;
        background-color: #333333;
        border-radius: 5px;
        opacity: 0.8;
    }
    .header-menu-container label {
        display: block;
    }
    .header-menu-container input:checked ~ a {
        display: block;
    }
    .Services {
        height: 100%;
    }
    .Services-container {
        height: 100%;

    }
    .Services-example-container {
            display: flex;
            flex-direction: column;
            margin-bottom: 70px;
    }
    .Services-example {
        width: 100%;
        margin-top: 40px;
    }
    .Services-example p {
        width: 50%;
    }
    .Portfolio {
        height: 100%;
    }
    .Portfolio-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }
    .About-line {
        display: none;
    }
    .About-stories-1,
    .About-stories-2,
    .About-stories-3,
    .About-stories-4 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .About-stories-1 h3,
    .About-stories-2 h3,
    .About-stories-3 h3,
    .About-stories-4 h3 {
        margin-top: 10px;
    }
    .About-stories-container-1,
    .About-stories-container-2,
    .About-stories-container-3,
    .About-stories-container-4 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    .About-img {
        margin-top: 20px;
    }
    .About-title {
        margin-top: 30px;
    }
    .About,
    .About-container {
        height: 100%;
    }
    .Our-story {
        margin-top: 20px;
        margin-left: 30px;
        margin-bottom: 20px;
    }
    .Contact {
        height: 100%;
    }
    .Contact-form {
        height: 100%;
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .Contact-form input {
        margin-top: 10px;
    }
    .form-button {
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .Team {
        display: none;
    }
    .Logos {
        display: none;
    }
}
@media screen and (max-width: 640px) {
    .Header {
        max-width:600px;
        width: 100%;
    }
    .header-logo {
        margin-left: 20px;
    }
    .header-menu-container {
        max-width: 200px;
        width: 100%;
    }
    .Services-example {
        width: 100%;
    }
    .Services-example p {
        width: 50%;
    }
    p {
    font-family: 'Roboto Slab', serif;
    color:  #777777;
    font-size: 0.675em;
    font-weight: 400;
    }
    h2 {
        font-family: 'Montserrat', sans-serif;
        color:  #222222;
        font-size: 2.0em;
        font-weight: 700;
        line-height: 1.875;
    }
    h3 {
        font-family: 'Montserrat', sans-serif;
        color:  #222222;
        font-size: 0.925em;
        font-weight: 700;
    }
    h6 {
        font-family: Montserrat;
        color:  #777777;
        font-size: 0.8em;
        font-style: italic;
        text-align: center;
    }
    .Home h1 {
        font-family: Montserrat;
        color:  #ffffff;
        font-size: 2.088em;
        font-weight: 700;
        text-align: center;
        padding-top: 20px;
    }
    .Home h2 {
        margin-top: 50px;
    }
}
@media screen and (max-width: 480px) {
    .Contact-form input{
        width: 300px;
    }
}
