* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
p {
    font-family: 'Roboto Slab', serif;
    color:  #777777;
    font-size: 0.875em;
    font-weight: 400;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    color:  #222222;
    font-size: 2.5em;
    font-weight: 700;
    line-height: 1.875;
}
h3 {
    font-family: 'Montserrat', sans-serif;
    color:  #222222;
    font-size: 1.125em;
    font-weight: 700;
}
h6 {
    font-family: Montserrat;
    color:  #777777;
    font-size: 1em;
    font-style: italic;
    text-align: center;
}
.background {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    height: 5800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-container {
    max-width: 1400px;
    width: 100%;
    height: 28px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Header {
    max-width: 1400px;
    width: 100%;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 40px;
}
.header-logo {
    background-image: url(../image/header/Logo.png);
    width: 79px;
    height: 28px;
    transition: .3s;
}
.header-logo:hover {
    transform: translateY(-5px);
}
.header-menu {
    font-family: Montserrat;
    color:  #ffffff;
    font-size: 0.875em;
    font-weight: 400;
    line-height: 2.929;
    text-align: center;
    transition: .3s;
    width: 18%;
}
.header-menu-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 480px;
    width: 100%;
}
.header-menu-container input {
    display: none;
}
.header-menu-container label {
    cursor: pointer;
    display: none;
}
.header-menu:hover {
    transform: translateY(-5px);
    color: #fed136;
}
.Home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1400px;
    width: 100%;
    height: 700px;
    background-image: url(../image/home/Background-Image-home.png);
}
.Home h1 {
    font-family: Montserrat;
    color:  #ffffff;
    font-size: 4.688em;
    font-weight: 700;
    text-align: center;
    padding-top: 20px;
}
.Home h2 {
    color: #ffffff;
}
.menu-button {
    border-radius: 3px;
    background-color:  #fed136;
    width: 240px;
    height: 65px;
    font-family: Montserrat;
    color:  #ffffff;
    font-size: 1.125em;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
    margin-top: 40px;
}
.menu-button:hover {
    transform: translateY(-7px);
}
.Services {
    max-width: 1400px;
    width: 100%;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Services-container {
    width: 100%;
    height: 330px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.Services-container h2 {
    color:  #222222;
}
.Services-example-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Services-example {
    width: 27%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 187px;
    margin-top: 130px;
    text-align: center;
}
.Example-circle {
    border-radius: 50%;
    border-style: solid;
    border-width: 3px;
    border-color:  #fed136;
    background-color:  #ffffff;
    width: 68px;
    height: 67px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
}
.Example-circle:hover {
    transform: translateY(-5px);
}
.Portfolio {
    max-width: 1400px;
    width: 100%;
    height: 1218px;
    background-color:  #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Portfolio-row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
}
.Portfolio-item {
    background-color:  #ffffff;
    text-align: center;
    max-width: 291px;
    width: 100%;
    height: 394px;
    transition: .3s;
}
.Portfolio-item:hover {
    transform: translate(-5px, -5px);
    background-color: #fed136;
}
.Portfolio-item h3 {
    padding-top: 20px;
}
..Portfolio-item img {
    width: 291px;
    height: 301px;
}
.About {
    max-width: 1400px;
    width: 100%;
    height: 1600px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.About-container {
    width: 100%;
    height: 1426px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.About-title {
    text-align: center;
}
.About-stories-1 {
    margin-top: 80px;
}

.About-stories-1,
.About-stories-3 {
    max-width: 874px;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.About-stories-2,
.About-stories-4 {
    max-width: 874px;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.About-stories-1 p,
.About-stories-2 p,
.About-stories-3 p,
.About-stories-4 p {
    width: 307px;
}
.About-stories-2 p,
.About-stories-4 p,
.About-stories-2 h3,
.About-stories-4 h3 {
    margin-left: 36px;
}
.About-stories-container-2,
.About-stories-container-4 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    text-align: left;
}
.About-stories-container-1,
.About-stories-container-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-align: right;
}


.About-img {
    border-radius: 50%;
    border-style: solid;
    border-width: 7px;
    border-color:  #f1f1f1;
    background-color:  #000000;
    width: 169px;
    height: 169px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 37px;
}
.About-line {
    background-color:  #f1f1f1;
    width: 3px;
    height: 94px;
}
.Our-story {
    width: 183px;
    height: 183px;
    transition: .3s;
    background-image: url(../image/about/Our-Story-Continues.png);
}
.Our-story:hover {
    transform: translateY(-5px);
}
.Team {
    max-width: 1400px;
    width: 100%;
    height: 818px;
    background-color:  #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.team-text {
    width: 100%;
    max-width: 600px;
    text-align: center;
}
.Team-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.Team-container-block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 30px;
}
.Team-block {
    border-radius: 50%;
    border-style: solid;
    border-width: 7px;
    border-color:  #ffffff;
    background-color:  #111111;
    width: 220px;
    height: 221px;
}
.Team-social {
    display: flex;
    align-items: center;
    justify-content: center;
}
.Team-social a {
    border-radius: 50%;
    border-style: solid;
    border-width: 3px;
    border-color:  #222222;
    box-sizing: border-box;
    background-color:  #f9f9f9;
    width: 41px;
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-top: 10px;
    transition: .3s;
}
.Team-social a:hover {
    transform: translateY(-3px);
}
.Logos {
    max-width: 1400px;
    width: 100%;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Logos-container {
    max-width: 765px;
    width: 100%;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Contact {
    max-width: 1400px;
    width: 100%;
    height: 666px;
    background-color:  #222222;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.contact-text {
    text-align: center;
    margin-top: 50px;
}
.Contact h2 {
    color: #ffffff;
}
.Contact-form {
    width: 100%;
    max-width: 942px;
    height: 210px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.form-name,
.form-mail,
.form-subject {
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    border-color:  #cccccc;
    background-color:  #ffffff;
    width: 455px;
    height: 50px;
}
.form-message {
    border-style: solid;
    border-width: 1px;
    border-color:  #cccccc;
    background-color:  #ffffff;
    width: 455px;
    height: 210px;
}
.form-button {
    border-radius: 3px;
    background-color:  #fed136;
    width: 240px;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
}
.form-button:hover {
    transform: translateY(-5px);
}
.form-button h3 {
    color: #ffffff;
}
.Footer {
    max-width: 1400px;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Footer-container {
    width: 100%;
    max-width: 565px;
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 50px;
}
.Footer-container p {
    color: #333333;
}
.footer-social {
    width: 191px;
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-icon {
    border-radius: 50%;
    background-color:  #222222;
    width: 41px;
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
}
.footer-icon:hover {
    transform: translateY(-7px);
}
